.mytable{
    border: 1px solid #E6E9ED;
    padding: 20px;
    text-align: center;
    width:100%;
}
.mytable td, .mytable tr{
    border: 1px solid #E6E9ED;
    padding: 10px;
    text-align: center;
}

.div_tn{
    padding: 5px;
    width: 80%;
}

.div_tn p{
    display: inline;
}

.div_tn input{
    display: inline;
    margin-left: 30px;
    margin-right: 15px;
}
.baithi{
    border-right-style: dotted;
    border-left-style: dotted;
}
.baithi button, .baithi table {
    margin:auto;
    overflow-y: scroll;
    height: -webkit-fill-available;
}

.div_ch{
    border-radius:15px;
    background-color:#E6E9ED;
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px;
    width: 95%;
}

.div_ch p{
    margin: 10px 10px 10px 10px;
}

.div_sub{
    border-radius:15px;
    background-color:#E6E9ED;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    padding: 5px;
    width: 95%;
}

.div_sub p{
    margin: 10px 10px 10px 10px;
    display: inline;
}

.div_dt{
    padding: 5px;
    width: 80%;
}

.div_dt p{
    display: inline;
    margin-left: 30px;
    margin-right: 15px;
}

.div_tl{
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px;
    width: 95%;
}

.plus {
    color:red;
    font-weight: bold;
    font-size:120%;
}

.head_ch {

}

.head_ch input {
    float:right;
    width: 54px;
    margin-bottom:5px;
    margin-right:20px;
    color:red;
    font-weight: bold;
}

.head_ch p {
    float:left;
}