{% extends "student/base_2.html" %}
{% load static %}
{% block stylesheets %}
{{ block.super }}
    <style>
        * {
            word-wrap:break-word;
        }
        video {
            object-fit: fill;
            width: 30%;
        }
        button,
        input,
        select {
            font-weight: normal;
            padding: 2px 4px;
            text-decoration: none;
            display: inline-block;
            text-shadow: none;
            font-size: 16px;
            outline: none;
        }
        .make-center {
            text-align: center;
            padding: 5px 10px;
        }
        img, input, textarea {
          max-width: 100%
        }

        media-box {
            height: 30px;
            text-align: center;
        }

        media-controls {
            display:none;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="right_col" role="main">
    <div class="">
      <div class="row">
        <div class="col-md-12">
          <div class="x_panel">
            <div class="x_title" style="text-align:center">
                <div class="col-md-2">
                    <button id="back" class="btn btn-info"><i class="fa fa-arrow-left"></i> Trở lại</button>
                </div>
                <button id="reconnect" class="btn btn-warning"><i class="fa fa fa-repeat"></i> Kết nối lại</button>
                <button id="giotay" class="btn btn-success" style="display: none;"><i class="fa fa-hand-paper-o"></i> Giơ tay</button>
                <button id="bogiotay" class="btn btn-danger"  style="display: none;"><i class="fa fa-hand-rock-o"></i> Bỏ giơ tay</button>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <video id="video" muted="muted" style="width:100%;"></video>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block javascripts %}
  {{ block.super }}
    <script src="{% static 'js/teacher/RTC/RTCMultiConnection.min.js' %}"></script>
    <script src="{% static 'js/peer/getMediaElement.js' %}"></script>
    <script src="https://192.168.200.4:9443/socket.io/socket.io.js"></script>
    <script src="{% static 'js/peer/getScreenId.js' %}"></script>
    <!--<script src="{% static 'js/teacher/RTC/videocall/FileBufferReader.js' %}"></script>-->
    <script>
        var teacher_name = '{{ gvht.username }}';
        var lopht = '{{ lopht }}';
        var ten_dang_nhap = {{username}};
        var ho_ten = {{fullname}};
    </script>
	<script src="{% static 'js/hls.js' %}"></script>
    <!--<script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>-->
	<script>
		var video = document.getElementById('video');
		var config = {
			liveSyncDurationCount: 1
		};
		var hls = new Hls(config);
		var path = 'https://192.168.200.1/hls/' + '{{ gvht.username }}' + '.m3u8';
		hls.loadSource(path);
		hls.attachMedia(video);
		hls.on(Hls.Events.MANIFEST_PARSED,function() {
		  video.play();
		});
	</script>
    <script src="{% static 'js/peer/share_connect.js' %}"></script>
    <script src="{% static 'js/student/share.js' %}"></script>
{% endblock %}


