{% extends "teacher/base.html" %}
{% load staticfiles %}
{% block title %} Danh sách câu hỏi {% endblock %}
{% block stylesheets %}
    {{ block.super }}
    <link href="{% static 'vendors/datatables.net-bs/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'math/katex.css' %}" />
    <link rel="stylesheet" href="{% static 'math/monokai-sublime.min.css' %}" />
    <link rel="stylesheet" href="{% static 'math/quill/quill.snow.css' %}" />
    <style>
        .ques-container {
            height: 200px;
        }
        .answer-container {
            height: 50px;
        }
    </style>
{% endblock stylesheets %}
{% block content %}
<div class="right_col" role="main">
    <div class="">
      <!---->
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_content">
                {% csrf_token %}
                <div class="" role="tabpanel" data-example-id="togglable-tabs">
                    <div id="myTabContent" class="tab-content">
                        <div role="tabpanel" class="tab-pane fade active in" id="tab_content2" aria-labelledby="profile-tab">
                            <div class="x_title">
                                <div class="col-md-2 col-sm-12 col-xs-12 form-group">
                                    <h2>Câu hỏi đã tạo</h2>
                                </div>
                                <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                                    <select class="form-control" id="gv_mon">
                                        {% for mon in list_mon %}
                                        <option value="{{ mon.mon_id.id }}">{{ mon.mon_id.ten }} - {{mon.mon_id.lop}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <table class="table table-striped jambo_table bulk_action" id="list_question" style="width:100%;" >
                                    <thead>
                                        <tr>
                                            <th>Chủ đề</th>
                                            <th>Loại câu hỏi</th>
                                            <th>Dạng câu hỏi</th>
                                            <th>Số câu hỏi</th>
                                            <th>Độ khó</th>
                                            <th>Ngày tạo</th>
                                            <th>Nội dung</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="modal" id="question" role="dialog">
      <div  class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title" id="question_title">Câu hỏi</h4>
            </div>
            <div class="modal-body" id="khung_modal">
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-primary" id="edit_question">Cập nhật</button>
               <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
      </div>
    </div>

<div class="modal" id="processing" role="dialog">
      <div  class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
 
            <div class="modal-header">
                <div class="col-md-11 col-sm-12 col-xs-12">
                    <div class="progress" >
                        <div id="progressBar" style="width:0%" class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                </div>
                <div class="col-md-1 col-sm-12 col-xs-12">
                    <button id="cancel_upload" class="btn-danger" style="border-radius:6px" data-dismiss="modal">
                        <span class="fa fa-close"></span>
                    </button>
                </div>
            </div>
        </div>
      </div>
    </div>
{% endblock content %}
{% block javascripts %}
    {{ block.super }}
    <!--<script src="{% static 'js/jquery.easy-autocomplete.js' %}"></script>-->
    <!--<script src="{% static 'js/jquery.easy-autocomplete.min.js' %}"></script>-->
    <script src="{% static 'vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'math/katex.min.js' %}"></script>
    <script src="{% static 'math/highlight.min.js' %}" ></script>
    <script src="{% static 'math/quill/quill.min.js' %}"></script>
    <script src="{% static 'js/teacher/manage_question.js' %}"></script>
{% endblock javascripts %}
