{% extends "teacher/base.html" %}
{% load staticfiles %}
{% block title %}Tạo câu hỏi {% endblock %}
{% block stylesheets %}
    {{ block.super }}
    <link href="{% static 'vendors/datatables.net-bs/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'math/katex.css' %}" />
    <link rel="stylesheet" href="{% static 'math/monokai-sublime.min.css' %}" />
    <link rel="stylesheet" href="{% static 'math/quill/quill.snow.css' %}" />
    <style>
        .ques-container {
            height: 200px;
        }
        .answer-container {
            height: 50px;
        }
    </style>
{% endblock stylesheets %}
{% block content %}
<div class="right_col" role="main">
    <div class="">
      <!---->
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_content">
                {% csrf_token %}
                <div class="" role="tabpanel" data-example-id="togglable-tabs">
                    <div id="myTabContent" class="tab-content">
                        <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                            <div class="x_title">
                                <h2>Tạo câu hỏi</h2>
                                <!--<button class="btn btn-primary" style="float:right">-->
                                    <!--<i class="fa fa-file-excel-o"></i> Nhập bằng excel-->
                                <!--</button>-->
                                <a href="https://katex.org/docs/supported.html" target="_blank" style="float:right">*Danh sách ký tự đặc biệt</a>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div class="row">

                                    <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                                        <table class="mytable" style="width:100%;">
                                            <tr class="mytable">
                                                <td><b>Môn:</b></td>
                                                <td>
                                                    <select name="mon" class="form-control" id="mon">
                                                        {% for mon in list_mon %}
                                                        <option>{{ mon.mon_id.ten }} - {{mon.mon_id.lop}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>

                                    <div class="col-md-5 col-sm-12 col-xs-12 form-group">
                                        <table class="mytable" style="width:100%;">
                                            <tr class="mytable">
                                                <td><b>Chủ đề:</b></td>
                                                <td>
                                                    <input type="text"name="chu_de" class="form-control" id="chu_de" placeholder="nhập chủ đề">
                                                </td>
                                            </tr>
                                        </table>
                                    </div>

                                    <div class="col-md-4 col-sm-12 col-xs-12 form-group">
                                        <table class="mytable" style="width:100%;">
                                            <tr class="mytable">
                                                <td><b>Loại bài:</b></td>
                                                <td>
                                                  <select name="dung_lam" class="form-control" id="dung_lam">
                                                        <option>Thi</option>
                                                        <option>Bài tập</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select name="do_kho" class="form-control" id="do_kho">
                                                        <option>Dễ</option>
                                                        <option>Trung bình</option>
                                                        <option>Khó</option>
                                                    </select>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                        <table class="mytable" style="width:100%;">
                                            <tr class="mytable">
                                                <td><b>Dạng câu hỏi:</b></td>
                                                <td>
                                                    <select name="dang_media" id="dang_media" class="form-control">
                                                        <option>Văn bản</option>
                                                        <option>Hình ảnh</option>
                                                        <option>Âm thanh</option>
                                                        <option>Video</option>
                                                        <option>File</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select name="dang_cau_hoi" class="form-control" id="dang_cau_hoi" >
                                                         <option>Trắc nhiệm</option>
                                                        <option>Điền từ vào chỗ trống</option>
                                                        <option>Tự luận</option>
                                                        <!--<option>Ghi âm</option>-->
                                                        <!--<option>Ghi hình</option>-->
                                                    </select>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>

                                    <div class="col-md-3 col-sm-12 col-xs-12 form-group" >
                                        <table class="mytable" style="width:100%;">
                                            <tr class="mytable">
                                                <td><b>Số câu hỏi:</b></td>
                                                <td>
                                                    <input name="so_cau_hoi" class="form-control" id="so_cau_hoi" min="1" max="10" type="number" value="1">
                                                </td>
                                            </tr>
                                        </table>
                                    </div>

                                    <div class="col-md-3 col-sm-12 col-xs-12 form-group" >
                                        <table class="mytable" style="width:100%;">
                                            <tr class="mytable">
                                                <td><b>Số đáp án mỗi câu:</b></td>
                                                <td>
                                                    <input name="so_dap_an" class="form-control" id="so_dap_an" min="1" max="10" type="number" value="4">
                                                </td>
                                            </tr>
                                        </table>
                                    </div>

                                </div>
                                <br>
                                <div class="" id="khung_cau_hoi">
                                    <label>Nội dung:</label>
                                    <!--<textarea class="form-control" name="noi_dung" placeholder="Nhập nội dung" rows="10"></textarea>-->
                                    <div id="noi_dung" class="ques-container editor_nd"></div>
                                </div>
                                <br>
                                <div class="" id="khung_dap_an">
                                    <div class="row">
                                        <div class="col-md-1 col-sm-12 col-xs-12 form-group">
                                            <input type="checkbox" class="form-control dap_an" style="transform:scale(0.6);" name="dap_an">
                                        </div>
                                        <div class="col-md-11 col-sm-12 col-xs-12 form-group">
                                          <!--<textarea class="form-control nd_dap_an" name="nd_dap_an" placeholder="A:"></textarea>-->
                                            <div id="dap_an_0" class="answer-container nd_dap_an editor_da"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1 col-sm-12 col-xs-12 form-group">
                                          <input type="checkbox" class="form-control dap_an" style="transform:scale(0.6);" name="dap_an">
                                        </div>
                                        <div class="col-md-11 col-sm-12 col-xs-12 form-group">
                                            <div id="dap_an_1" class="answer-container nd_dap_an editor_da"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1 col-sm-12 col-xs-12 form-group">
                                          <input type="checkbox" class="form-control dap_an" style="transform:scale(0.6);" name="dap_an">
                                        </div>
                                        <div class="col-md-11 col-sm-12 col-xs-12 form-group">
                                            <div id="dap_an_2" class="answer-container nd_dap_an editor_da"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1 col-sm-12 col-xs-12 form-group">
                                          <input type="checkbox" class="form-control dap_an" style="transform:scale(0.6);" name="dap_an">
                                        </div>
                                        <div class="col-md-11 col-sm-12 col-xs-12 form-group">
                                            <div id="dap_an_3" class="answer-container nd_dap_an editor_da"></div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <button class="btn btn-success btn-lg" style="float:right" id="luu_cau_hoi">
                                    <i class="fa fa-save"></i> Lưu
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="modal" id="processing" role="dialog">
      <div  class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
 
            <div class="modal-header">
                <div class="col-md-11 col-sm-12 col-xs-12">
                    <div class="progress" >
                        <div id="progressBar" style="width:0%" class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                </div>
                <div class="col-md-1 col-sm-12 col-xs-12">
                    <button id="cancel_upload" class="btn-danger" style="border-radius:6px" data-dismiss="modal">
                        <span class="fa fa-close"></span>
                    </button>
                </div>
            </div>
        </div>
      </div>
    </div>
{% endblock content %}
{% block javascripts %}
    {{ block.super }}
    <!--<script src="{% static 'js/jquery.easy-autocomplete.js' %}"></script>-->
    <!--<script src="{% static 'js/jquery.easy-autocomplete.min.js' %}"></script>-->
    <script src="{% static 'vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendors/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'math/katex.min.js' %}"></script>
    <script src="{% static 'math/highlight.min.js' %}" ></script>
    <script src="{% static 'math/quill/quill.min.js' %}"></script>
    <script src="{% static 'js/teacher/question_create.js' %}"></script>
{% endblock javascripts %}
