{% extends "adminsc/base.html" %}

{% block title %} ECharts {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}
{% load static %}
{% block content %}
  <div class="right_col" role="main">
    <div class="">

      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-8 col-sm-8 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Bar Graph</h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">

              <div id="chart1" style="height:350px;"></div>

            </div>
          </div>
        </div>



        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Pie Graph</h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">

              <div id="pie_graph" style="height:350px;"></div>

            </div>
          </div>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Scatter Graph</h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <div id="echart_scatter" style="height:350px;"></div>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Line Graph</h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">

              <div id="echart_line" style="height:350px;"></div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
  <!-- ECharts -->
  <script src="{% static 'vendors/echarts/dist/echarts.min.js' %}"></script>
  <script src="{% static 'js/adminsc/index.js' %}"></script>
{% endblock javascripts %}